@{
    ViewData["Title"] = "Home Page";
}
<h3>bla bla bla bla</h3>
<h4>*** HOME HOME PAGE</h4>
    <h1>*** HOME PAGE ***</h1>
<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
